.goals {
  width: 100%;
}

.goals__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--ft-bg-secondary);
  border-radius: 0.75rem;
  padding: 1.5rem;
}
