<section class="transactions">
  <app-ft-page-header
    title="Transações"
    subtitle="Gerencie suas receitas e despesas"
  >
  </app-ft-page-header>

  <div class="transactions__placeholder">
    <ng-container *ngIf="transactions$ | async as transactions">
      <div *ngIf="transactions.length > 0; else empty">
        <article *ngFor="let transaction of transactions">
          <p>{{ transaction.amount | currency: "BRL" }}</p>
          <p>
            {{
              transaction.type === transactionTypeIncome ? "Receita" : "Despesa"
            }}
          </p>
          <p>{{ transaction.description }}</p>
          <p>{{ transaction.transactionDate | date: "dd/MM/yyyy" }}</p>
          <p>{{ transaction.id }}</p>
          <p>{{ transaction.accountId }}</p>
          <p>{{ transaction.categoryId }}</p>
          <a routerLink="/transactions/{{ transaction.id }}/edit">Editar</a>
          <a routerLink="/transactions/{{ transaction.id }}/delete">Excluir</a>
        </article>
      </div>
    </ng-container>
    <ng-template #empty>
      <p>Nenhuma transação</p>
    </ng-template>
  </div>
</section>
